body {
    background-image: linear-gradient(0deg, rgb(110, 177, 181) 0%, rgb(84, 76, 133) 100%);
    color: rgba(255, 255, 255, 0.827);    
    font-family: "Source Sans Pro";
    font-size: 1.125em;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
    margin: 0;
}

#outer{ display: table; width:100%; height: 60%;}
#inner { display: table-cell; vertical-align: middle; }

.container {
    max-width: 500px;
}
img.logo {
    max-width: 400px;
}

.created {
    position: fixed;
    bottom: 0;
    right: 10px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px 4px 0 0;
}

.created p {
    margin: 0;
}

.created img {
    max-width: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}

a {
    color: inherit;
}

.overlay {
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.4);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.magicbox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding-top: 0;
    z-index: 1500;
    background: #fff;
    color: #555;
    border-radius: 3px;
    max-width: 300px;
    width: 90%;
}

.magicbox .banner {
    padding: 15px;
    background: #137752;
    color: #fff;
    text-align: center;
}

.magicbox .content {
    text-align: center;
}

.magicbox .content p {
    padding: 0px 10px;
}

.magicbox a.share {
    display: block;
    text-align: left;
    padding: 5px;
    background: #ccc;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    vertical-align: middle;
    padding: 20px 15px;


}

.magicbox .ion {
    font-size: 32px;
    width: 70px;
    text-align: center;

}

.magicbox span {
    vertical-align: middle;
    margin-top: -15px;
    position: relative;
    display: inline-table;
}

a.share.fb {
    background: #3b5998;
}

a.share.twt {
    background: #4099FF;
}

#successMSG {
    display: none;
}

.post {
    background: rgba(0,0,0,0.25);
    padding: 3px 25px 7px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.post p {
    margin: 10px 0;
}

.post .link {
    background: rgba(255,255,255,0.1);
    padding: 10px 15px;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    margin: 5px;
    
}

.post .ion {
    font-size: 21px;
    margin: 0 3px;
    vertical-align: middle;
    margin-top: -1px;
}


/* Larger than mobile */
@media (max-width: 500px) {
  .container {
    max-width: 300px !important;
  }

  img.logo {
      max-width: 100% !important;
  }

  .magicbox .content .ion {
      display: none;
  }
}
